#logo{
    width: 500px;
    height: 400px;
    background-image: url(../54th/img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 230%;
    padding-top: 100px;
    /* background-color: aqua; */
}
.tittle{
    float: left;
    text-align: center;
    padding-right: 30px;

}
#tittle-2nd{
    height: 50px;
    background-color: blanchedalmond;
}
#comment-link{
    padding-left: 50px;
    float: left;
}
#cmt-tittle{
    width: 220px;
    float: left;
}