#top {
    background-color: white;
    height: 54px;
    width: 100%;
}

#top2 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 100%;
    width: 90%;
}

#top-left {
    float: left;
    display: flex;
}

#pic01 {
    width: 100%;
}

#logo {
    float: left;
    padding: 15.5px 0px;
    height: 23px;
    width: 123px;
    background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%
}

#top-left .word {
    text-align: center;
    font-size: x-small;
    font-family: system-ui;
}

.word:hover {
    border-bottom: 2px solid black;
    margin-bottom: -1px;
}

.top {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#a {
    width: 97.16px;
}

#b {
    width: 53.67px;
}

#c {
    width: 70.84px;
}

#d {
    width: 60.28px;
}

#e {
    width: 46.91px;
}

#f {
    width: 44px;
}

#top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.word1:hover {
    border-bottom: 2px solid black;
    margin-bottom: -2px;
}

.word1 {
    font-size: x-small;
    font-family: system-ui;
}

#g {
    width: 94.41px;
    padding-right: 20px;
}

#h {
    width: 50px;
    padding-right: 20px;
}

#i {
    width: 55px;
    padding-right: 20px;
}

#j {
    width: 40px;
}

#pic02 {
    margin-top: 3px;
    float: left;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url(https://img.ixintu.com/download/jpg/20200910/f9256155491e54bf5e99bf29eece0156_512_512.jpg!con);
}

/* @media screen and (max-width:1780px) {
    .top {
        margin: 0px;
        float: left;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
} */

@media screen and (max-width: 1400px) {
    .none {
        display: none;
    }
    #g {
        padding: 0px;
        margin: 0px;
    }
    #h {
        width: 36px;
        margin-left: 12px;
        margin-right: 3px;
        padding: 0px;
    }
    #i {
        padding: 0px;
        width: 36px;
        margin: 0px 3px;
    }
    #j {
        padding: 0px;
        width: 0px;
    }
}
@media screen and (max-width: 860px) {
    #g{
        width: 0px;
    }
    .none-860 {
        display: none;
    }
    #logo{
        margin: 0px;
        justify-self: end;
    }
    #top2{
        width: 100%;
        
    }
    #top-right{
        margin-right: 12px;
    }
    #top-left{
        float: none;
        width: 274px;
        margin: auto;
        display: grid;
    }
}