body {
    margin: 0px;
}

.block {
    padding: 50px;
    height: 100vh;
    background-color: blueviolet;
}

.box {
    width: calc(50% - 10px);
    height: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#box1 {
    background-color: palegreen;
}

#box2 {
    background-color: peru;
    margin: 0px;
}

#box3 {
    background-color: palevioletred;
}

#box4 {
    background-color: palegoldenrod;
    margin: 0px;
}