
    body{
        margin: 0px;
    }
    .all{
        background-color: wheat;
        height: 100vh;
        width: 100%;
    }
    .left{
        padding-top: 100px;
        float: left;
        background-color:gray;
        height: calc(100vh - 100px);
        width: 300px;
    }
    .left2{
        margin: auto;
        height: 250px;
        width: 200px ;
    }
    
    .logo{
        height:200px;
        width: 200px;
        background-image: url(../切版組合/irys.jpg);
        background-size:100% ;
        background-repeat:no-repeat ;
        background-position: center;
    }
    .word{
        text-align: center;
        width: 100%;
    }
    .right{
        float: right;
        background-color: palegreen;
        height: calc(100vh - 400px);
        width:calc(100% - 300px) ;
        padding: 200px 0px;
    }
    .right2{
        background-color: aqua;
        height: 500px;
        width: 900px;
        margin: auto;
    }
    .x{
        margin-right: 2px;
        float: left;
        background-color: aquamarine;
        height: 500px;
        width: calc(300px - 2px);
    }
    .y{
        margin-right: 2px;
        float: left;
        background-color: pink;
        height: 500px;
        width: calc(300px - 2px);
    }
    .z{
        float: left;
        background-color:orange;
        height: 500px;
        width: 300px;
    }
    
@media screen and (max-width:1280px) {
    body{
        margin: 0px;
    }
    .all{
        margin: auto;
        background-color: wheat;
        height: 1024px;
        width: 1280px;
    }
    .left{
        padding-top: 100px;
        float: left;
        background-color:gray;
        height: calc(100% - 100px);
        width: 250px;
    }
    .left2{
        margin: auto;
        height: 250px;
        width: 200px;
    }
    .logo{
        height:200px;
        width: 200px;
        background-image: url(../切版組合/irys.jpg);
        background-size:100% ;
        background-repeat:no-repeat ;
        background-position: center;
    }
    .word{
        text-align: center;
        width: 100%;
    }
    .right{
        float: right;
        background-color: palegreen;
        height: calc(100% - 400px);
        width: calc(100% - 250px);
        padding-top: 200px;
    }
    .right2{
        background-color: aqua;
        height: 500px;
        width: 60%;
        margin: auto;
    }
    .x{
        background-color: aquamarine;
        height: calc(250px - 2px);
        width: 100%;
        margin-bottom: 2px;
    }
    .y{
        margin-right: 2px;
        float: left;
        background-color: pink;
        height: 250px;
        width: calc(309px - 2px);
    }
    .z{
        float: left;
        background-color:orange;
        height: 250px;
        width: 309px;
    }
}

@media screen and (max-width:768px) {
    body{
        margin: 0px;
    }
    .all{
        margin: auto;
        background-color: wheat;
        height: 1024px;
        width: 768px;
    }
    .left{
        padding-top: 10px;
        float: left;
        background-color:gray;
        height: calc(170px - 10px);
        width: 100%;
    }
    .left2{
        margin-left: 50px;
        width: calc(100% - 100px);
        height: 150px;
    }
    .logo{
        float: left;
        margin: 0px;
        height: 150px;
        width: 150px;
        background-image: url(../切版組合/irys.jpg);
        background-size:100% ;
        background-repeat:no-repeat ;
        background-position: center;
    }
    .word{
        float: right;
        width: 100px;
        line-height: 150px;
    }
    .right{
        padding: 100px 0px;
        float: right;
        background-color: palegreen;
        height: calc(1024px - 370px);
        width: 100%;
    }
    .right2{
        background-color: aqua;
        height: 80%;
        width: 90%;
        margin: auto;
    }
    .x{
        margin-bottom: 2px;
        background-color: aquamarine;
        height: calc(50% - 2px);
        width: 100%;
    }
    .y{
        margin-right: 2px;
        float: left;
        background-color: pink;
        height: 50%;
        width: calc(50% - 2px);
    }
    .z{
        float: left;
        background-color:orange;
        height: 50%;
        width: 50%;
    }
}

@media screen and (max-width:580px) {
    body{
        margin: 0px;
    }
    .all{
        margin: auto;
        background-color: wheat;
        height: 667px;
        width: 375px;
    }
    .left{
        padding: 20px 10px;
        background-color:gray;
        height: calc(150px - 40px);
        width: calc(100% - 20px);
    }
    .left2{
        margin: 0px;
        height: 100px;
        width: 100%;
    }
    .logo{
        height:100px;
        width: 100px;
        background-image: url(../切版組合/irys.jpg);
        background-size:100% ;
        background-repeat:no-repeat ;
        background-position: center;
    }
    .word{
        margin-top: 0px;
        line-height: 100px;
    }
    .right{
        padding: 0px;
        background-color: palegreen;
        height:517px;
        width: 100%;
    }
    .right2{
        padding: 0px;
        background-color: palegreen;
        height:517px;
        width: 100%;
    }
    .x{
        margin-bottom: 2px;
        background-color: aquamarine;
        height:calc(33.33333% - 1.3333333333px);
        width: 100%;
    }
    .y{
        background-color: pink;
        margin-bottom: 2px;
        height: 250px;
        height:calc(33.33333% - 1.3333333333px);
        width: 100%;
    }
    .z{
        background-color:orange;
        height:calc(33.33333% - 1.3333333333px);
        width: 100%;
    }

}