body{
    margin: 0;
}
.all{
    position: relative;
}
.left{
    height: 100px;
    width: 768px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}
.right{
    width: 95%;
    height: 824px;
}
.icon{
    width: 50px;
    height: 50px;
    background-image: url(/李亦晨/4.切版整合/image/th.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 25%;
    left: 20px;
}
.write{
    width: 300px;
    height: 100px;
    position: absolute;
    left: 230px;
}
.allphoto{
    width: 768px;
    height: 924px;
    top: 100px;
    position: absolute;
    background-color: rgb(176, 170, 170);
}
.photo1{
    width: 99%;
    height: 407px;
    left: 3px;
    top: 3px;
    background-image: url(/李亦晨/4.切版整合/image/643x0w.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
.photo2{
    width: 49%;
    height: 407px;
    top: 423px;
    left: 3px;
    background-image: url(/李亦晨/4.切版整合/image/E5J1Dx8VgAQV3mz.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
.photo3{
    width: 49%;
    height: 407px;
    top: 423px;
    left: 384px;
    background-image: url(/李亦晨/4.切版整合/image/H2x1_NSwitchDS_SkyChildrenOfTheLight_EN_image1600w.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
p{
    text-align:center;
    line-height: 20px;
    font-size: 40px;
  }