#all{
    width: 300px;
    height: 350px;
    float: left;
}
#one{
    width: 300px;
    height: 100px;
    background-color: rgb(243, 255, 240);
    float: left;
}
#two{
    width: 300px;
    height: 150px;
    float: left;
}
#twoone{
    width: 150px;
    height: 150px;
    background-color: blue;
    float: left;
}
#twotwo{
    width: 150px;
    height: 150px;
    background-color: black;
    float: right;
}
#there{
    width: 300px;
    height: 100px;
    background-color: aqua;
    float: left;
}