body{
    margin: 0;
}
.all{
    position: relative;
}
.top{
    height: 52px;
    width: 375px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}
.order{
    width: 375px;
    height: 617px;
    background-color: rgba(75, 59, 59, 0.329);
    position: absolute;
    top: 50px;
}
.icon{
    width: 36px;
    height: 36px;
    background-image: url(/李亦晨/2022-12-25-李亦晨-RWD切版/image/th.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    left: 165px;
}
.photo1{
    width: 375px;
    height: 205px;
    background-image: url(/李亦晨/2022-12-25-李亦晨-RWD切版/image/643x0w.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo2{
    width: 375px;
    height: 205px;
    background-image: url(/李亦晨/2022-12-25-李亦晨-RWD切版/image/E5J1Dx8VgAQV3mz.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo3{
    width: 375px;
    height: 205px;
    background-image: url(/李亦晨/2022-12-25-李亦晨-RWD切版/image/H2x1_NSwitchDS_SkyChildrenOfTheLight_EN_image1600w.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}